<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.FinalProject.mappers.UserMapper">
	<select id="getUserListByStorNum" parameterType="int">
		SELECT *
		FROM user
		WHERE storenum=#{storeNum}
	</select>
	
	<select id="getUserList" parameterType="UserDto">
		SELECT (userId, userName, role, storeNum) 
		FROM user
	</select>
	
</mapper>